<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security 
                            http://www.springframework.org/schema/security/spring-security.xsd">
    
    <!-- Path access -->
    <sec:http entry-point-ref="loginUrlAuthenticationEntryPoint" auto-config="false" use-expressions="true">
        <sec:intercept-url pattern="/index.html" access="permitAll" />
        <sec:intercept-url pattern="/resources/**" access="permitAll" />
        <sec:intercept-url pattern="/login" access="permitAll" />
        <sec:intercept-url pattern="/logout" access="permitAll" />
        <sec:intercept-url pattern="/**" access="isAuthenticated()" />
        <sec:access-denied-handler error-page="/denied" />
        
        <sec:logout invalidate-session="true" logout-success-url="/logout/success" logout-url="/logout" />
 
        <sec:custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER"/>
    </sec:http>

    <bean id="authenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="filterProcessesUrl" value="/j_spring_security_check" />
        <property name="authenticationFailureHandler" ref="securityLoginFailureHandler" />
        <property name="authenticationSuccessHandler" ref="securityLoginSuccessHandler" />
    </bean>
    
    <bean id="securityLoginSuccessHandler" class="ht.haapala.wss.authentication.AjaxAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/login"/>
    </bean>

    <bean id="securityLoginFailureHandler" class="ht.haapala.wss.authentication.AjaxAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/login/failure"/>
    </bean>

    <bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <property name="loginFormUrl" value="/login"/>
    </bean>    
    
    <!-- Password encoder to use -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
            <!-- Database authentication manager -->
            <sec:jdbc-user-service data-source-ref="dataSource"
                                   users-by-username-query="SELECT Username, Password, Enabled FROM WSSUser WHERE Username = ?" 
                                   authorities-by-username-query="SELECT Username, UserRole FROM WSSUser WHERE Username = ?"/>
            <sec:password-encoder ref="passwordEncoder" />
        </sec:authentication-provider>
    </sec:authentication-manager>
    
    <!-- Access configuration with annotations -->
    <sec:global-method-security pre-post-annotations="enabled" />
</beans>